h1 {
  color:#ff99cc;
  font-family: 'Rock Salt', cursive;
  font-weight: 800px;
  margin: 20px;
  text-align: center;
}

.carousel {
  width:550px;
  height: 410px;
  align:center;
  margin: 0 auto;
}

#CCimg {
  width:550px;
}

p, ol, ul {
  color: #595959;
}

#intro {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 45px;
}
.CCheads {
  padding-left: 35px;
  font-weight:bold
}

#CC {
  padding:35px;
  padding-bottom:45px;
}

#email {
  padding-bottom: 35px;
}


#method{
  padding-left:50px;
  padding-right:150px;
}

 ol li{
  padding: 5px 0px;
}

.btn-primary {
  background-color:#ffb3d9;
  border-color: #ffb3d9;
}

.btn-primary:hover {
  background-color: #ffcce6;
  border-color:#ffcce6;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ffcce6;
  border-color: #ffcce6;
}

.btn-primary:focus {
  background-color: #ffcce6;
  border-color: #ffcce6;
}

.d-block{
  width:100px;
  height:100px;
}

#link {
  padding-top: 35px;
}

#home {
  text-align: center;
  padding-bottom: 100px;
}
